[Unit]
Description=Apache Guacamole server docker compose group 
After=docker.service
Requires=docker.service

[Service]
User=REPLACEMEWITHUSER
Group=REPLACEMEWITHGROUP
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=REPLACEMEWITHPWD/.env
ExecStart=/bin/bash -c "docker compose -f REPLACEMEWITHPWD/docker-compose.yaml up --detach"
ExecStop=/bin/bash -c "docker compose -f REPLACEMEWITHPWD/docker-compose.yaml stop"

[Install]
WantedBy=multi-user.target
